
.profile-container {
    font-size: 16px;
    background: #4250c7 url('../../images/profile/profile1.jpg') no-repeat top center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 30px;
}
.profile-list {
    background-color: #0E2231;
    color: #c1e2b3;
}
.profile-avatar {
    width: 30vh;
}
.prof-ava {
    height: 100%;
    width: 30vh;
    padding-left: 20px;
    padding-right: 20px;
}
.avatar {
    width: 30vh;
    position: relative;
}
.navbar-nav {
    margin: 0;
}
.rank .profile-list li a {
    max-height: 40px;
    width: 30vh;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 20;
}
.btn-ava {
    padding: 10px 3px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
}

.border {
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #737373;
    border-radius: 5px;
}
.prof-col {
    position: relative;
}
.prof-nik {
    background-color: #0E2231;
    color: #c1e2b3;
    padding: 5px 10px 5px;
    text-align: center;
}
.text {
    font-size: 16px;
    font-weight: 700;
    color: #cdcdcd;
}
