
.wrapper {
    position: relative;
    background-color: #ffe359;
}
.box {
    display: inline-block;
    border: 1px solid blue;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}

.card-begin input {
    height: 90%;
    width: 100%;
}

.card-begin {
    margin: 10px;
    min-width: 150px;
    min-height: 220px;
    border: 4px double black;
    float: left;
}

.card-close {
    background-color: #ff894d;
}

.card-begin-submit {
    top: 300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}
