
body {
    margin: 0;
    background: #4250c7 url(/images/battleground1.jpg) no-repeat;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    color: #c1e2b3;
}
html {
    overflow:  hidden;
}
.clearfix {
    clear: both;
}
.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/*@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}*/

.user-avatar {
    padding: 0;
    min-width: 70px;
    min-height: 70px;
    z-index: 10;
    position: absolute;
    border: 4px double black;
}

.enemy-avatar {
    top: 0;
    left: 0;
}
.player-avatar {
    bottom: 0;
    left: 0;
}

/*-----------Колода---------*/
.card-deck {
    right: 0;
    padding: 0;
    min-width: 70px;
    min-height: 100px;
    z-index: 10;
    position: absolute;
    border: 4px double black;
}
.enemy-deck {
    top: 0;
}
.player-deck {
    bottom: 0;
}
/*-----------Колода-END--------*/

.places {
    text-align: center;
    position: relative;
    width: 120%;
    height: 110%;
    top: -65px;
    left: -10%;
    border: 2px double black;
}
/*@media (min-width: 300px) {*/
    /*.card_places {*/
        /*width: 60%;*/
    /*}*/
/*}*/
/*@media (min-width: 768px) {*/
    /*.card_places {*/
        /*width: 70%;*/
    /*}*/
/*}*/
/*@media (min-width: 992px) {*/
    /*.card_places {*/
        /*width: 80%;*/
    /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*.card_places {*/
        /*width: 85%;*/
    /*}*/
/*}*/

.box {
    display: inline-block;
    text-align: center;
    height: 160px;
    margin-top: 10px;
    border: 1px double #fc1757;
}

/*-----------Карта--------*/
.card {
    height: 160px;
    width: 114px;
    border: 2px double black;
    border-radius: 5px;
    margin-left: 2px;
    float: left;
}
.player_hand {
    position: relative;
    bottom: 0;
    margin: auto;
    width: 70%;
    border: 2px double black;
}
.card-1 {
    z-index: 5;
    background: #4250c7 url(/images/card_face/terminator114х114_2.jpg) no-repeat;
}
.card-2 {
    z-index: 6;
    background: #4250c7 url(/images/card_face/terminator114х114_2.jpg) no-repeat;
}
.card-3 {
    z-index: 7;
    background: #4250c7 url(/images/card_face/terminator114х114_2.jpg) no-repeat;
}
.attack, .energy, .armor, .health_points {
    text-align: center;
    position: absolute;
    width: 18px;
    height: 18px;
}
.energy {
    top: 22px;
}
.health_points {
    top: 48px;
}
.armor {
    top: 74px;
}
.attack {
    top: 100px;
}

.btn {
    background: -moz-linear-gradient(#0b16d6, #5358bf);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0b16d6), to(#4c52a7));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    color: #c9c9c9;
    border: 1px solid #666;
}
.card_name, .ability {
    width: 100%;
    text-align: center;
    margin: auto;
}
.ability {
    position: relative;
    top: 108px;
    height: 32px;
}
/*-----------Карта-END--------*/
.card_place {
    margin: 2px;
    float: left;
    height: 160px;
    width: 114px;
    border: 1px dashed #a8a8a8;
    border-radius: 5px;
    /*background: transparent url(/images/card_place/place1.jpg) no-repeat;*/
}

