/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* End of Eric Meyer's CSS Reset */

html {
    min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 18px/20px Calibri, Tahoma, Geneva, sans-serif;
    font-weight: 500;
    height: 100%;
    background: #121924 url('../../images/profile/profile1.jpg') no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
button, a {
    transition: .5s;
    cursor: pointer;
}
a {
    color: #cb541e;
}
.wrapper {
    width: 950px;
    margin: 0 auto;
    min-height: 580px;
}
.pick {
    color: #c1e2b3;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 80px;
    padding-top: 8px;
    margin-bottom: -20px;
}
.header-menu {
    float: left;
    position: relative;
    padding: 5px;
    padding-left: 12px;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
    z-index: -5;
    width: 100%;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.right-sidebar {
    width: 615px;
    float: right;
}
.left-sidebar {
    width: 285px;
    position: relative;
}
.sidebar {
    background: rgba(18, 17, 19, 0.77);
    border: solid transparent 1px;
    border-radius: 5px;
    color: #7f93af;
    padding: 10px;
    min-height: 420px;
}

/* Footer
-----------------------------------------------------------------------------*/
/*.footer {*/
    /*margin: -100px auto 0;*/
    /*min-width: 760px;*/
    /*max-width: 1020px;*/
    /*height: 100px;*/
    /*background: #BFF08E;*/
    /*position: relative;*/
/*}*/

/* Avatar
-----------------------------------------------------------------------------*/
.avatar {
    width: 70px;
    height: 70px;
    float: left;
}

.sub-nick {
    float: left;
    width: 170px;
    display: inline-block;
    background: rgba(18, 17, 19, 0.77);
    border: solid transparent 1px;
    border-radius: 5px;
    color: #7e93af;
    margin-left: 10px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
}
table>thead>tr>td {
    border-bottom: solid #fffacd 2px;
}
td {
    line-height: 9px;
    padding: 7px 10px 7px 0;
}

/* Кнопки
-----------------------------------------------------------------------------*/
.knopka01 {
    margin: 5px;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .2), 0 -1px rgba(0, 0, 0, .8);
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(66, 98, 133) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(30, 52, 69);
    user-select: none;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition: .5s;
}
.knopka01:hover {
    background-color: #cb541e;
    color: black;
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow: inset rgba(0, 0, 0, 1) 0 1px 3px,
    inset rgba(0, 0, 0, .6) 0 -2px 5px,
    inset rgba(252, 255, 255, .7) 0 2px 5px,
    0 1px rgba(255, 255, 255, .08);
    color: rgb(128, 207, 214);
}
/*---------------------------------------------*/
a.button11 {
    position: relative;
    z-index: 1;
    color: #7e93af;
    text-decoration: none;
    padding: .25em .8em;
}
a.button11:after {
    content: "Пополнить";  /* здесь 9 букв */
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: -2px;
    width: calc(100% + 9*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
    text-align: right;
    color: #fff;
    font-size: 100%;
    padding: .2em .9em;
    border-radius: 5px;
    border: 2px solid #c61e40;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
    background-size: calc(9*(1em*90/135) + .5em) 100%;
    box-shadow: inset calc(-9*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
    transition: .3s;
}
a.button11:hover:after {
    box-shadow: inset calc(-9*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
    background-image: linear-gradient(#c61e40, #d4536d);
}
/*---------------------------------------------*/

.button {
    transition: .5s;
    width: 60px;
    text-align: center;
    background-color: #7e93af;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
    inset 0 2px 0 hsla(0,0%,100%,.1),
    inset 0 1.2em 0 hsla(0,0%,100%,0.1),
    inset 0 -.2em 0 hsla(0,0%,100%,.1),
    inset 0 -.25em 0 hsla(0,0%,0%,.25),
    0 .25em .25em hsla(0,0%,0%,.05);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    padding: .5em 1.5em .75em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}
.button:hover {
    outline: none;
}
.button:hover,
.button:focus {
    background-color: #cb541e;
    color: black;
}
.button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
    inset 0 2px 0 hsla(0,0%,100%,.1),
    inset 0 1.2em 0 hsla(0,0%,100%,.1),
    inset 0 0 0 3em hsla(0,0%,100%,.2),
    inset 0 .25em .5em hsla(0,0%,0%,.05),
    0 -1px 1px hsla(0,0%,0%,.1),
    0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}
.large {
     font-size: 16px;
 }
.round {
    border-radius: 1.25em;
}

/* Вкладки
--------------------------------------------------------------------------*/
.tabs > div, .tabs > input {
    display: none;
}
.tabs label {

}
.tabs input[type="radio"]:checked + label {
    border-bottom: 3px solid #bf103f;
}
.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.tabs > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.tabs > input:nth-of-type(7):checked ~ div:nth-of-type(7) {
    display: block;
}


/* Модальное окно смены аватар
---------------------------------------------------------------------------*/
.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}
.visible {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    overflow: hidden;
    z-index: 2000;
    width: 500px;
    padding: 0px;
    margin-left: -250px;
}
#modalPay button {
    float: right;
    line-height: 20px;
    margin: 1.2em;
    border: none;
    background: transparent;
    color: blue;
}
#modalPay button[type="button"]:hover {
    cursor: pointer;
    color: navy;
    text-decoration: underline;
}
#modalPay h3 {
    text-align: center;
    color: #555;
}
.content {
    padding: 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
}
.content p {
    text-align: center;
    margin: 10px;
}


/* Сообщения об ошбках
---------------------------------------------------------*/
.message.error {
    text-align: center;
    padding: 30px 20px 5px;
    z-index: 999;
    font-size: 170%;
    font-weight: 800;
    color: #ff6c27;
    background-color: #c1e2b3;
    height: 50px;
}
