/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* End of Eric Meyer's CSS Reset */

html {
    min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

h3 {
    font-size: 110%;
}

body {
    font: 18px/20px Calibri, Tahoma, Geneva, sans-serif;
    font-weight: 500;
    height: 100%;
    background: #121924 url('../../images/profile/profile1.jpg') no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
button, a {
    transition: .3s;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #cb541e;
}
.wrapper {
    width: 950px;
    margin: 0 auto;
    min-height: 580px;
}
.pick {
    color: #c1e2b3;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 80px;
    padding-top: 8px;
    margin-bottom: -20px;
}
.header-menu {
    float: left;
    position: relative;
    padding: 5px 5px 5px 12px;
    width: 650px;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
    z-index: -5;
    width: 100%;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.right-sidebar {
    width: 615px;
    float: right;
}
.left-sidebar {
    float: left;
    margin-right: 5px;
    width: 285px;
    position: relative;
}
.sidebar {
    background: rgba(18, 17, 19, 0.77);
    border: solid transparent 1px;
    border-radius: 5px;
    color: #99b7d3;
    padding: 10px;
    min-height: 420px;
}

/* Footer
-----------------------------------------------------------------------------*/
/*.footer {*/
    /*margin: -100px auto 0;*/
    /*min-width: 760px;*/
    /*max-width: 1020px;*/
    /*height: 100px;*/
    /*background: #BFF08E;*/
    /*position: relative;*/
/*}*/

/* Avatar
-----------------------------------------------------------------------------*/
.avatar {
    width: 70px;
    height: 70px;
    float: left;
}

.sub-nick {
    float: left;
    width: 170px;
    display: inline-block;
    background: rgba(18, 17, 19, 0.77);
    border: solid transparent 1px;
    border-radius: 5px;
    color: #99b7d3;
    margin-left: 10px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
}
table>thead>tr>td {
    border-bottom: solid #fffacd 2px;
}
td {
    line-height: 9px;
    padding: 7px 10px 7px 0;
}
/*--------------------------------------*/
.grin {
    color: #0e7d26;
}
.blue {
    color: #314baf;
}
.violet {
    color: #af2698;
}
.orange {
    color: #cb541e;
}

/* Кнопки
-----------------------------------------------------------------------------*/
.knopka01 {
    margin: 5px;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .2), 0 -1px rgba(0, 0, 0, .8);
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(66, 98, 133) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(30, 52, 69);
    user-select: none;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition: .5s;
}
.knopka01:hover {
    background-color: #cb541e;
    color: black;
    cursor: pointer;
}
.knopka01:active {
    padding-bottom: 1px;
    box-shadow: inset rgba(0, 0, 0, 1) 0 1px 3px,
    inset rgba(0, 0, 0, .6) 0 -2px 5px,
    inset rgba(252, 255, 255, .7) 0 2px 5px,
    0 1px rgba(255, 255, 255, .08);
    background-color: #cb541e;
}
/*---------------------------------------------*/
a.button11 {
    position: relative;
    z-index: 1;
    color: #7e93af;
    text-decoration: none;
    padding: .25em .8em;
}
a.button11:after {
    content: "Пополнить";  /* здесь 9 букв */
    position: absolute;
    z-index: -1;
    top: -2px;
    bottom: -2px;
    left: 2px;
    width: calc(100% + 7*(1em*90/140) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
    text-align: right;
    color: #fff;
    font-size: 100%;
    padding: .2em .5em;
    border-radius: 5px;
    border: 2px solid #cb541e;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    background: linear-gradient(rgba(203, 84, 30, 0.55), #cb541e) no-repeat 100% 0;
    background-size: calc(8*(1em*90/135) + .5em) 100%;
    box-shadow: inset calc(-8*(1em*90/135) + .5em) 0 rgba(255,255,255,0);
    transition: .3s;
}
a.button11:hover:after {
    box-shadow: inset calc(-9*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
    background-image: linear-gradient(#cb541e, rgba(203, 84, 30, 0.55));
}
/*---------------------------------------------*/

.button {
    transition: .5s;
    text-align: center;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
    inset 0 2px 0 hsla(0,0%,100%,.1),
    inset 0 1.2em 0 hsla(0,0%,100%,0.1),
    inset 0 -.2em 0 hsla(0,0%,100%,.1),
    inset 0 -.25em 0 hsla(0,0%,0%,.25),
    0 .25em .25em hsla(0,0%,0%,.05);
    color: #d2d2d2;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: .5em 1.5em .5em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
    margin: 5px 10px 5px 0;
}
.button:hover {
    outline: none;
}
.button:hover,
.button:focus {
    background-color: #cb541e;
    color: black;
}
.button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
    inset 0 2px 0 hsla(0,0%,100%,.1),
    inset 0 1.2em 0 hsla(0,0%,100%,.1),
    inset 0 0 0 3em hsla(0,0%,100%,.2),
    inset 0 .25em .5em hsla(0,0%,0%,.05),
    0 -1px 1px hsla(0,0%,0%,.1),
    0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}
.large {
     font-size: 16px;
 }
.round {
    border-radius: 1.25em;
}
.width70px {
    width: 60px;
}
.width232px {
    width: 232px;
}
.width200px {
    margin-left: 15px;
    width: 200px;
}
.magazin {
    margin-left: 110px;
}
.bg {
    background-color: #0E2231;
}
.btn-admin {
    background-color: #0E2231;
    top: 40px;
    right: 520px;
    position: absolute;
}

/* Вкладки
--------------------------------------------------------------------------*/
.tabs > div, .tabs > input {
    display: none;
}
.tabs label {

}
.tabs input[type="radio"]:checked + label {
    background-color: #cb541e;
}
.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5),
.tabs > input:nth-of-type(6):checked ~ div:nth-of-type(6),
.tabs > input:nth-of-type(7):checked ~ div:nth-of-type(7) {
    display: block;
    z-index: 2;
}


/* Модальное окно смены аватар
---------------------------------------------------------------------------*/
.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}
.visible {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    overflow: hidden;
    z-index: 2000;
    width: 500px;
    padding: 0px;
    margin-left: -250px;
}
#modalPay button {
    float: right;
    line-height: 20px;
    margin: 1.2em;
    border: none;
    background: transparent;
    color: blue;
}
#modalPay button[type="button"]:hover {
    cursor: pointer;
    color: navy;
    text-decoration: underline;
}
#modalPay h3 {
    text-align: center;
    color: #555;
}
.content {
    padding: 0 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
}
.content p {
    text-align: center;
    margin: 10px;
}


/* Сообщения об ошбках
---------------------------------------------------------*/
.message.error {
    text-align: center;
    padding: 30px 20px 5px;
    z-index: 999;
    font-size: 170%;
    font-weight: 800;
    color: #ff6c27;
    background-color: #c1e2b3;
    height: 50px;
}

/* Checkbox
---------------------------------------------------------*/
.checkbox {
    display: none;
}
.checkbox-custom {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
.checkbox-custom, .label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #ff6c27;
    border-radius: 2px;
}

/* Колоды
------------------------------------------------------------------*/
.card-container {
    font-size: 12px;
    font-weight: 600;
    border: solid transparent 5px;
    border-radius: 8px;
    width: 100px;
    height: 140px;
    float: left;
    position: relative;
    margin: 5px;
    padding: 0;
}
.card {
    position: relative;
    width: 100px;
    height: 122px;
}
.card-name {
    /*font-family: Andalus;*/
    font-family: sans-serif;
    line-height: 18px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 100px;
    height: 18px;
    text-align: center;
    background: #357456;
    color: #000000;
 }
.card-type {
    left: 3px;
    font-size: 12px;
    position: absolute;
    margin-left: -4px;
    margin-bottom: 2px;
    padding: 0 5px;
    height: 20px;
    text-align: left;
    background: rgba(18, 17, 19, 0.77);
    color: #99b7d3;
    bottom: 0;
}
.property {
    z-index: 2;
    top: 18px;
    left: 2px;
    border: solid black 1px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    width: 14px;
    height: 14px;
    color: #000000;
    font-weight: 800;
    font-size: 14px;
}
/*--------------------*/
.energy {
    background: rgb(220, 178, 24);
}
.attack {
    transform: rotate(49grad);
    background: rgb(193, 1, 4);
    left: 82px;
}
.text {
    position: relative;
    transform: rotate(-48grad);
}
.health {
    background: #0e7d26;
    top: 70px;
}
.armor {
    background: #6b6b6b;
    top: 87px;
}
/*.energy {*/
    /*z-index: 5;*/
    /*background: rgb(220, 178, 24);*/
/*}*/
/*.attack {*/
    /*z-index: 4;*/
    /*background: rgb(193, 1, 4);*/
    /*top: 36px;*/
/*}*/
/*.health {*/
    /*z-index: 3;*/
    /*background: #0e7d26;*/
    /*top: 54px;*/
/*}*/
/*.armor {*/
    /*z-index: 2;*/
    /*background: #3436c2;*/
    /*top: 72px;*/
/*}*/
/*.type {*/
    /*font-size: 16px;*/
    /*top: 102px;*/
    /*z-index: 1;*/
    /*background: #7e93af;*/
/*}*/
/*--------------------*/
.technique{
    border: solid #000000 3px;
}
.event {
    border: solid #af2698 3px;
}

/* Неготовый контент
---------------------------------------------------------------------*/
.no:after {
    font-size: 12px;
    content:"не готово";
    display:block;
    position:absolute;
    left:20%;
    top: 30%;
    width:100%;
    height:0;
    color: #ff0000;
    /*border-bottom:3px solid rgba(255, 0, 3, 0.65);*/
    /*transform:rotate(-6deg);*/
}
.no1:after {
    top: -2px;
    left: 85px;
}

/* Мигание
-------------------------------------------------------------------------*/
/*@-webkit-keyframes rainbow1 {*/
    /*0% {background: #000;}*/
    /*50% {background: #ff6c27}*/
    /*100% {background: #000;}*/
/*}*/

/*@keyframes rainbow1 {*/
    /*0% {background: #000;}*/
    /*50% {background: #ff6c27}*/
    /*100% {background: #000;}*/
/*}*/

/*#miganie {*/
    /*background: #000;*/
    /*display: block;*/
    /*webkit-animation: rainbow1 2s linear 2s infinite;*/
    /*animation: rainbow1 2s linear 2s infinite;*/
/*}*/