@charset "UTF-8";
/* RESET ================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  line-height: 1;
  overflow-x:hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, fieldset, a img {
  border: none;
}

input[type="text"], input[type="email"],
input[type="tel"], textarea {
  -webkit-appearance: none;
}

input[type="submit"], button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  min-width: 100%;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

strong {
  font-weight: 900;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESET END ================== */

.content {
  position: relative;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.paginate {
  max-width: 850px;
  text-align: center;
}

.form-control {
  margin-bottom: 5px;
}

.categories {
  background-color: #D5D5D5;
  position: absolute;
  top: 53px;
}
.categories:hover {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: center center;
}

.footer__logo {
  margin: 0 auto;
}

.logo {
  padding-left: 70px;
}

.admin-panel {
  margin-left: 120px;
}
.admin-panel table td{
  border: 4px double black;
  min-width: 25px;
}

h3, h2 {
  font-size: 1.5rem;
  font-style: italic;
  color: black;
  padding-bottom: 10px;
}

